/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Saul Pierotti
Mail: saul@ebi.ac.uk
----------------------------------------------------------------------------------------
*/

manifest {
    author = "Saul Pierotti"

    // raise a warning if using a different nextflow version than the one used in the
    // development of the pipeline
    nextflowVersion = "23.10.1"
}

// short name of the project, used also for prefixing the results and cache
manifest.name = "heart_rate_tmp_pairwise_gxg"

workDir = "/hps/nobackup/birney/users/saul/nextflow/${manifest.name}"

// Configuration via labels
process {
    withLabel: "r_tidyverse_datatable" {
        // add pgenlibr manually to env since not on conda
        conda = "r-base=4.2.3 r-tidyverse=2.0.0  r-data.table=1.14.8  r-r.utils=2.12.3"
    }
    withLabel: "r_gaston" {
        conda = "r-gaston=1.6"
    }
    withLabel: "plink2" {
        conda = "bioconda::plink2=2.00a5"
    }

    withName: "read_pheno_covar" {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: 'copy',
        ]
    }
    withName: "make_pgen" {
        publishDir = [
            path: { "${params.outdir}/pgen" },
            mode: 'copy',
        ]
    }
    withName: "get_qtl_matrices" {
        publishDir = [
            path: { "${params.outdir}/matrices" },
            mode: 'copy',
        ]
    }
    withName: "fit_mixed_model" {
        publishDir = [
            path: { "${params.outdir}/mixed_model" },
            mode: 'copy',
        ]
    }
    withName: "fit_lm" {
        publishDir = [
            path: { "${params.outdir}/lm" },
            mode: 'copy',
        ]
    }
    withName: "fit_lm_perm" {
        publishDir = [
            path: { "${params.outdir}/lm_perm/${meta.seed}" },
            mode: 'copy',
        ]
    }
    withName: "get_result_table" {
        publishDir = [
            path: { "${params.outdir}/results" },
            mode: 'copy',
        ]
    }
    withName: "get_result_table_perm" {
        publishDir = [
            path: { "${params.outdir}/results" },
            mode: 'copy',
        ]
    }

    cpus   = { 1    * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }
}

params {
    outdir = "/nfs/research/birney/users/saul/nextflow/${manifest.name}"
    storedir = "/hps/nobackup/birney/users/saul/nextflow_storedir/${manifest.name}"
    pheno = null
    covar = null
    qtls = null
    freq = null
    vcf = null
    n_chr = null
    n_perm = null
}
